<template>
	
	<div>
		<div id="app" class="">
			<router-view></router-view>
		</div>
		
		<div class="mt-5 mb-3">
			<footer class="container-fluid text-white">
				<div class="row">
					<div class="col text-center">
						<hr>
						BIT Project &mdash; Smart Clinic
					</div>
				</div>
			</footer>
		</div>
	</div>

</template>

<script>

export default {
	name: 'App',
};
</script>

<style>

#app {

}

</style>
